**/node_modules/**
**/.ntvs_analysis.dat
**/.vscode/**
**/tmp/**
**/Output/**
**/.idea/**
**/.vs/**

npm-debug.log
/.reviewboardrc
*.suo
*.user
_ReSharper.*
bin
obj
*.log
*.dep
Debug
Release
Production_Release
*.metaproj
*.metaproj.tmp
*.ncb
*~
*.testrunconfig
*zlog1.txt
*.cache
_ReSharper*
*.trx
libs/*
*/bin/*
bin/*
*/obj/*
obj/*
AgentRestart.dat
TestResults
*.sdf
ipch
revision.txt
branch.txt
*.o
*.ko
.*.o.cmd
.*.ko.cmd
Module.symvers
modules.order
bin-debug
gui_files.zip
gui_files_debug.zip
gui_files_zcm.zip
gui_files_aws.zip
gui_files_hyperv.zip
*.pidb
*.userprefs
*.opensdf
vra_image
*.tlog
*.dotCover
*.pyc
*.orig
*.DotSettings.user
SharpSetup*.resources
.DS_Store
~$*
